<main>
  <%= render partial: 'shared/nav', locals: { text: 'Back', url: user_categories_path(@user), heading: 'CATEGORIES'  } %>
     
    <% if @categories.blank? %>
      <p>Your categories list is currently empty!</p><br>
    <% else %>
      <ul id="list" class="list">
        <% @categories.each do |c| %>
          <li class="list_item">
                <%= link_to user_category_activities_path(@user, c) %>
                  <div class="item-wrapper">
                    <div class="photo">
                       <% if c.icon.attached? %>
                         <%= image_tag url_for(c.icon), class: "profile_img" %>
                        <% end %>
                        
                    </div>
                    <div class="user_name">
                        <p><%= c.name %></p>
                        <p><%= c.created_at %></p>
                    </div>
                  </div>
                  <p>total amount</p>
                <% end %>
          </li>
        <% end %>
      </ul>
    
    <div class="food_btn_wrap">
       <%= link_to "Add new category", new_user_category_path(@user), class: "add_btn" %>
    </div>
</main>
