<h1>Add New Transaction</h1>

<%= form_with model: @activity,  method: :post do |form| %>
  <% if @activity.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited Transaction from being saved:</h2>

      <ul>
        <% @activity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :amount %><br />
    <%= form.number_field :amount %>
  </div>

  <div class="field">
    <%= form.label :categories %><br />
    <%= form.file_field :categories %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

